---
const { pros = [], cons = [] } = Astro.props;
---
<div class="grid md:grid-cols-2 gap-4">
  <div>
    <div class="font-semibold mb-2">Pros</div>
    <ul class="list-disc pl-5 space-y-1">
      {pros.map((p) => <li>{p}</li>)}
    </ul>
  </div>
  <div>
    <div class="font-semibold mb-2">Cons</div>
    <ul class="list-disc pl-5 space-y-1">
      {cons.map((c) => <li>{c}</li>)}
    </ul>
  </div>
</div>
